---
import '../styles/sanitize.css';
import '../styles/normalize.css'
import '../styles/main.css';
import '../styles/layout.css';
import '../styles/link.css';
import Link from '../components/Link.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Taniti - Home</title>
        <script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
	</head>
    <body class="content">
        <header id="header" data-content-width="feature">
            <h1><Link href="/d479" class="fs-extra-large">Taniti</Link></h1>
            <nav>
                <ul>
                    <li><Link href="/d479" data-link-style="underline">Home</Link></li>
                    <li><Link href="/d479/link1" data-link-style="underline">Lodging</Link></li>
                    <li><Link href="/d479/link2" data-link-style="underline">Dining</Link></li>
                    <li><Link href="/d479/link3" data-link-style="underline">Activities</Link></li>
                    <li><Link href="/d479/link3" data-link-style="underline">Transportation</Link></li>
                </ul>
            </nav>
        </header>
        <slot />
        <footer data-content-width="feature">
            <small>© 2025 Island of Taniti. All rights reserved.</small>
            <ul>
                <li>FAQs</li>
                <li>Contact us</li>
            </ul>
        </footer>
	</body>
</html>

<style>
    header {
        position: sticky;
        top: 0;
        grid-row: 1;
        align-self: start;
        z-index: 100;
        padding-block: 0.5rem;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    header::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100%;
        overflow: hidden;
        background: var(--clr-neutral-900);
    }

    @keyframes header-scroll {
        to {
            background: var(--clr-neutral-900);
        }
    }

    nav ul {
        display: flex;
        gap: 2rem;
    }

    footer {
        position: relative;
        padding: 1rem;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    footer::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        width: 100vw;
        height: 100%;
        transform: translate(-50%, -50%);
        background: var(--clr-neutral-900);
    }

    footer ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }
</style>
